<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bombclicker.css">
  <title>Bomb Clicker!</title>

</head>
<body>
  <div class="container pt-5">
    <h1>Bomb Clicker!</h1>
    <div class="row">
      <div class="col-sm">
        <div id="clicks">...</div>
        <div id="controls">
          <input type="button" class="btn btn-danger" id="clicker" value="CLICK">
        </div>
        <div id="progress-container">
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>
  <script src="/js/bombclicker.js"></script>
</body>
</html>