.goal {
    padding: 20px;
}
h1 {
    text-align: center;
}
.text-center {
    text-align: center;
}
#leaderboard {
    list-style-type: none;
    padding: 0;
    font-size: 1.4rem;
}
#upgrades {
    list-style-type: none;
    padding: 0;
    font-size: 1.4rem;
}
#clicks {
    text-align: center;
    font-size: 80px;
}
#controls {
    text-align: center;
}
#controls .btn {
    font-size: 100px;
    padding: 20px;
}
.progress {
    height: 40px;
}
.height-scroll {
    height: 35vh;
    overflow: scroll;
}
.nav {
    justify-content: center;
}
.nav-link {
    padding: 0.5rem 1rem;
}